<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Atari Breakout by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,atari,breakout">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Breakout</title>

    <script src="/static/breakout/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/breakout/style.css">
  </head>

  <body>
    <center>
      <canvas id="canvas" width="700" height="500"></canvas>
    </center>
    <hr />
    Atari Breakout. left/right arrow keys to move
  </body>
</html>
