<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Debate Timer by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,Debate Timer">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Roboto+Condensed:wght@300&family=Baloo+Tammudu+2:wght@500&display=swap" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/debate-timer/style.css" />
    
    <script src="/static/debate-timer/script.js"></script>
  </head>
  
  <body>
    <body>
    <div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br />
      <center>
        <h1 id="m1" style="font-size:360%">
          BP Timer; 5m speech, 30s+30s protected, 15s grace.
        </h1>
        <br /><br />
        <h1 id="m2" style="font-size:200%">
          Press Space to start.
        </h2>
      </center>
    </div>
  </body>
  </body>
</html>