<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Keyboard Checker by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,Keyboard Utility">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/static/keyboard/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/keyboard/style.css">
    
    <title>Keyboard Checker</title>
  </head>
  <body>
    <div id="left">
      
    </div>
    <div id="right">
      
    </div>
  </body>
</html>
