<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Mccollough Effect by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,mccollough,mccollough effect">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>The McCollough Effect</title>

    <script src="/static/mccollough/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/mccollough/style.css" />
  </head>

  <body>
    <center>
      
    </center>
  </body>
</html>
