<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Pong by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,pong">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Pong in 45 minutes!</title>

    <script src="/static/pong/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/pong/style.css" />
  </head>

  <body>
    <center>
      <canvas id="canvas" width="800" height="500"></canvas>
      <hr />
      Controls: w/s for P1, up/down for P2.
    </center>
  </body>
</html>
