<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Snake by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,snake">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Snake Game</title>
    
    <script src="/static/snake/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/snake/style.css" />
  </head>

  <body>
    <center>
      <canvas id="canvas" width="800" height="500"></canvas>
    </center>
  </body>
</html>
