<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Tetris by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,Tetris">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tetris</title>

    <script src="/static/tetris/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/tetris/style.css" />
  </head>

  <body>
    <center>
      <canvas id="canvas" width="250" height="500"></canvas>
      <hr />
      Controls: left/right to shift, up/x to rotate clockwise, ctrl/z to rotate counterclockwise, down to soft drop, space to hard drop, shift/c to hold. Uses the Nintendo / right-handed rotation system (see <a href="https://strategywiki.org/wiki/Tetris/Rotation_systems">rotation systems</a> for more information).
    </center>
  </body>
</html>
