<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Physics Spring Simulator by HyperNeutrino">
    <meta name="keywords" content="HyperNeutrino,Neutrino,Alexander,Alexander Liao,spring,simulator,physics">
    <meta name="author" content="Alexander Liao">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Physics Spring System</title>

    <script src="/static/springs/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/springs/style.css" />
  </head>

  <body>
    <center>
      <canvas id="canvas" width="800" height="500"></canvas>
      <hr />
      This is basically a very simple spring simulator. All springs have the same coefficient and there is some friction otherwise the system would never stop moving.<br />
      This shit was thrown together in about an hour and a half at 2AM so don't judge how sketchy it is.<br /><br />
      Use arrow keys to move the selected object around. Press backspace to delete the current object (also, all springs attached to it). Press D to delete the selected spring. Press F to toggle the physics simulation (default on). Press H and L to cycle through springs. Press J and K to cycle through objects. Press N to add a new object. Press S to add a new spring. Press R to set the highlighted spring's real length to its current length. Press Z to fix/unfix the current object. Press G to toggle gravity (default off). Press B to toggle boundaries / bouncing (default on).
    </center>
  </body>
</html>
